# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python bytecode
*.pyc
*.pyo
__pycache__/
*.cpython*

# Django migrations
**/migrations/
**/migrations/*.pyc
**/migrations/*.py

# Virtual environments
venv/
backend/